[tool.poetry]
name = "axiom-py"
version = "0.1.0"
description = "Axiom API Python bindings."
authors = ["Axiom, Inc."]
license = "MIT"
packages = [
	{ include = "axiom" },
]

[tool.poetry.dependencies]
python = "^3.8"
# urllib3 2.0 and higher contains a breaking change, we
# we prevent its use by using a version of requests that uses urllib3 < 2.0.
requests = "2.30.0"
requests-toolbelt = "^0.9.1"
ujson = "^5.2.0"
dacite = "^1.6.0"
pyhumps = "^1.6.1"
ndjson = "^0.3.1"
rfc3339 = "^6.2"
iso8601 = "^1.0.2"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
pytest = "^6.2.2"
pylint = "^2.7.2"
responses = "^0.21.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
