name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "v*"

env:
  PYTHON_VERSION: "3.8"
  POETRY_VERSION: "1.1.12"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: pip install poetry==${{ env.POETRY_VERSION }}
      - run: poetry install
      - run: poetry run black --check axiom tests examples
      - run: poetry run pylint -E axiom tests examples
  test-dev:
    name: Test (Cloud Dev)
    runs-on: ubuntu-latest
    if: github.repository == 'axiomhq/axiom-py'
    needs: lint
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: pip install poetry==${{ env.POETRY_VERSION }}
      - run: poetry install
      - run: poetry run python -m pytest
        env:
          AXIOM_URL: ${{ secrets.TESTING_CLOUD_DEV_DEPLOYMENT_URL }}
          AXIOM_TOKEN: ${{ secrets.TESTING_CLOUD_DEV_ACCESS_TOKEN }}
          AXIOM_ORG_ID: ${{ secrets.TESTING_CLOUD_DEV_ORG_ID }}
  publish:
    name: Publish on PyPi
    runs-on: ubuntu-latest
    if: github.repository == 'axiomhq/axiom-py' && startsWith(github.ref, 'refs/tags')
    needs:
      - test-dev
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: pip install poetry==1.1.7
      - run: poetry publish --build -u __token__ -p "${{ secrets.PYPI_TOKEN }}"
